<div class="crm-container">
  <h1 crm-page-title>{{ ts('Edit %1', {1: inlayType.name })}}</h1>

  <form name="inlayForm" crm-ui-id-scope>

    <div crm-ui-field="{name: 'inlayForm.name', title: ts('Name'), help: hs('inlay_name')}">
      <input
        crm-ui-id="inlayForm.name"
        name="name"
        ng-model="inlay.name"
        class="crm-form-text"
        placeholder="{{ts('e.g. 2020-11 Biden/NHS')}}"
        style="width:100%"
        />
      <p>This is an internal name.</p>
    </div>

    <div crm-ui-field="{name: 'inlayForm.publicTitle', title: ts('Public Title')}">
      <input
        crm-ui-id="inlayForm.publicTitle"
        name="publicTitle"
        ng-model="inlay.config.publicTitle"
        class="crm-form-text"
        placeholder="{{ts('e.g. MPs who support our campaign')}}"
        style="width:100%"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.introHTML', title: ts('Intro text before the form fields.')}">
      <textarea
        crm-ui-id="inlayForm.introHTML"
        crm-ui-richtext
        name="introHTML"
        ng-model="inlay.config.introHTML"
        class="crm-form-text"
        style="width:100%"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.issues', title: ts('Count which issue(s)')}">
      <input
        crm-ui-select="{allowClear:false, dropdownAutoWidth: true, multiple: true, data: $ctrl.issueOpts}"
        ng-model="inlay.config.issueOptionValue"
        name="issue"
        style="width: 100%"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.uxMode', title: ts('Mode')}">
      <select
        crm-ui-select="{allowClear:false, dropdownAutoWidth: true}"
        ng-model="inlay.config.uxMode"
        name="uxMode"
        style="width: 100%"
        >
        <option value="allActivities" >Show all those with a Shown Support activity only</option>
        <option value="allActivitiesSitting" >Show all sitting MPs with a Shown Support activity only</option>
        <option value="allSitting" >Show all 650 sitting MPs</option>
        <option value="allActivitiesStanding" >Show all standing MPs with a Shown Support activity only</option>
        <option value="allStanding" >Show all standing (typically: this is thousands)</option>
      </select>
    </div>

    <div crm-ui-field="{name: 'inlayForm.ctaHTML', title: ts('Call to action text')}">
      <textarea
        crm-ui-id="inlayForm.ctaHTML"
        crm-ui-richtext
        name="ctaHTML"
        ng-model="inlay.config.ctaHTML"
        class="crm-form-text"
        style="width:100%"
        ></textarea>
        <p>This text is shown after a search has been done that yielded some MPs. For example you might put: <em>
          If your MP hasn't responded, or is opposed, please use this link to email them: http://example.iparl.com/...
        </em></p>
      </em></p>
    </div>


    <div crm-ui-field="{name: 'inlayForm.partyPlaceholders', title: ts('Which parties to show placeholders for')}">
      <input
        ng-list
        crm-ui-select="{allowClear:true, width: '100%', multiple: true, data: $ctrl.partiesOpts }"
        ng-model="inlay.config.partyPlaceholders"
        name="partyPlaceholders"
      />
    </div>

    <div>
      <button ng-click="save()">{{ts('Save')}}</button>
    </div>

  </form>
</div>
