<script>
  import { getContext } from "svelte";
  import MPItem from "./MPItem.svelte";
  import PartyLogoConservatives from "./PartyLogoConservatives.svelte";
  import PartyLogoDUP from "./PartyLogoDUP.svelte";
  import PartyLogoGreen from "./PartyLogoGreen.svelte";
  import PartyLogoLabour from "./PartyLogoLabour.svelte";
  import PartyLogoLibDems from "./PartyLogoLibDems.svelte";
  import PartyLogoPlaidCymru from "./PartyLogoPlaidCymru.svelte";
  import PartyLogoSNP from "./PartyLogoSNP.svelte";

  export let mpsByParty;
  export let searchQuery;
  // let inlay = getContext("getInlay")();
  // uxMode: allActivities|allActivitiesSitting|allSitting

  // Data in mpsByParty is not structured in the way we need it.
  let byConstituency = new Map(),
    orderedCs = [];

  let page = 1;
  let thisPage = [];
  let listing;

  $: {
    if (searchQuery.domain) {
      byConstituency = new Map();
      mpsByParty.forEach((party) => {
        party.mps.forEach((mp) => {
          if (mp.show) {
            if (!byConstituency.has(mp.c)) {
              byConstituency.set(mp.c, []);
            }
            byConstituency.get(mp.c).push({ mp, party });
          }
        });
      });

      orderedCs = Array.from(byConstituency.keys());
      orderedCs.sort();
    } else {
      orderedCs = [];
    }
    page = 1;
    CiviCRMInlay.debug({ orderedCs, byConstituency });
  }
  $: {
    thisPage = orderedCs.slice(20 * (page - 1), 20 * page);
    CiviCRMInlay.debug("Page now", { page, thisPage });
  }

  const headerOffset = 80;
  function changePage(newPage) {
    page = newPage;
    window.scrollTo({
      top:
        listing.getBoundingClientRect().top -
        document.body.getBoundingClientRect().top -
        headerOffset,
      behavior: "smooth",
    });
  }
</script>

<div class="imps-constituency-group" bind:this={listing}>
  {#if searchQuery.domain}
    <p>
      {orderedCs.length} matching {orderedCs.length === 1
        ? "constituency"
        : "constituencies"}.
    </p>
    {#each thisPage as c}
      <h2>{c}</h2>
      <ul>
        {#each byConstituency.get(c) as item}
          <MPItem mp={item.mp} showConstituency={false} party={item.party} />
        {/each}
      </ul>
    {/each}
    {#if orderedCs.length > 20}
      <button
        class="subtle"
        disabled={page === 1}
        on:click|preventDefault={() => changePage(page - 1)}
      >
        <span aria-hidden="true">«</span> Previous page</button
      >
      <button
        class="subtle"
        disabled={page * 20 >= orderedCs.length}
        on:click|preventDefault={() => changePage(page + 1)}
        ><span aria-hidden="true">»</span> Next page</button
      >
    {/if}
  {/if}
</div>
