<script>
  import PartyLogoConservatives from "./PartyLogoConservatives.svelte";
  import PartyLogoDUP from "./PartyLogoDUP.svelte";
  import PartyLogoGreen from "./PartyLogoGreen.svelte";
  import PartyLogoLabour from "./PartyLogoLabour.svelte";
  import PartyLogoLibDems from "./PartyLogoLibDems.svelte";
  import PartyLogoPlaidCymru from "./PartyLogoPlaidCymru.svelte";
  import PartyLogoSNP from "./PartyLogoSNP.svelte";
  // import { getContext } from "svelte";
  export let mp,
    showConstituency = true,
    party = null,
    //  lcSearchQuery = "",
    open = false;

  $: symbol = {
    Unknown: "❔",
    Supports: "✔",
    Unconvinced: "⚠️",
    Opposed: "✖",
  }[mp.q];

  $: logo =
    {
      conservatives: { svg: PartyLogoConservatives },
      green_party: { svg: PartyLogoGreen },
      labour: { svg: PartyLogoLabour },
      plaid_cymru: { svg: PartyLogoPlaidCymru },
      liberal_democrats: { svg: PartyLogoLibDems },
      democratic_unionist_party: { svg: PartyLogoDUP },
      scottish_national_party: { svg: PartyLogoSNP },
    }[party.name ?? ""] || null;
</script>

<li class={mp.q}>
  <span class="support-symbol {mp.q}">{symbol}</span>
  <svelte:element this={mp.h ? "strong" : "span"} class="name"
    >{mp.n}</svelte:element
  >
  {#if showConstituency}<span class="constituency">{mp.c}</span>{/if}
  <div class="logo-layout">
    {#if logo}
      <svelte:component this={logo.svg} />
    {:else}
      {party.label}
    {/if}
  </div>
  {#if mp.s}
    <div
      class="statement"
      tabindex="0"
      role="button"
      class:open
      class:closed={!open}
      on:click={() => {
        open = !open;
      }}
      on:keydown={() => {
        open = !open;
      }}
      title="show/hide detail"
    >
      {mp.s}
    </div>
  {/if}
</li>
