<script>
  import { getContext } from "svelte";

  export let support, issue, name;

  let myId = getContext("getNextId")();

  $: q = support ? support.q : "Unknown";
  $: statement = support ? support.s : "";
  $: symbol = {
    Unknown: "❔",
    Supports: "✔",
    Unconvinced: "⚠️",
    Opposed: "✖",
  }[q];

  $: inWords = {
    Unknown: `hasn‘t told us whether they support the pledge to: `,
    Supports: `supports this pledge to: `,
    Unconvinced: `does not fully support the pledge to: `,
    Opposed: `opposes the pledge to: `,
  }[q];

  let open = false;
  let popup;

  function show() {
    // calculate left, right for the popup on mobile.
    if (document.documentElement.clientWidth < 600) {
      popup.style.left =
        16 - popup.parentElement.getBoundingClientRect().left + "px";
      popup.style.width = document.documentElement.clientWidth - 32 + "px";
    } else {
      popup.style.left = null;
      popup.style.width = null;
    }
    open = true;
  }
  function hide() {
    open = false;
  }
</script>

<div
  class="modal-cover {open ? 'open' : ''}"
  role="button"
  tabindex="0"
  on:click={hide}
  on:keydown={hide}
></div>
<div class="support">
  <button on:click|preventDefault={show} aria-controls={myId}>
    <span aria-hidden="true">{symbol}</span>
    <span class="sr-only">{inWords}</span>
  </button>
  <div
    class="popup {open ? 'open' : ''}"
    id={myId}
    bind:this={popup}
    role="button"
    tabindex="0"
    on:click={hide}
    on:keydown={hide}
  >
    <div>
      <span>{name}</span>
      <strong>{inWords}</strong>
      <span>{issue}</span>
      {#if statement}
        They said: <em>{statement}</em>
      {/if}
    </div>
  </div>
</div>
