<script>
  import PartyLogoConservatives from "./PartyLogoConservatives.svelte";
  import PartyLogoDUP from "./PartyLogoDUP.svelte";
  import PartyLogoGreen from "./PartyLogoGreen.svelte";
  import PartyLogoLabour from "./PartyLogoLabour.svelte";
  import PartyLogoLibDems from "./PartyLogoLibDems.svelte";
  import PartyLogoPlaidCymru from "./PartyLogoPlaidCymru.svelte";
  import PartyLogoSNP from "./PartyLogoSNP.svelte";

  export let party = '';

  $: logo =
    {
      conservatives: { svg: PartyLogoConservatives },
      green_party: { svg: PartyLogoGreen },
      labour: { svg: PartyLogoLabour },
      plaid_cymru: { svg: PartyLogoPlaidCymru },
      liberal_democrats: { svg: PartyLogoLibDems },
      democratic_unionist_party: { svg: PartyLogoDUP },
      scottish_national_party: { svg: PartyLogoSNP },
    }[party.name] || null;
</script>

{#if logo}
  <svelte:component this={logo.svg} />
{:else}
  {party.label}
{/if}
