<script>
  import "./styles.scss";
  import { setContext } from "svelte";
  import PartyLogo from "./PartyLogo.svelte";
  import MPSupport from "./MPSupport.svelte";

  export let inlay;

  setContext("getInlay", () => inlay);
  let idCounter = 1;
  setContext("getNextId", () => `ips-${idCounter++}`);

  const uniqueID = "ips" + Math.random().toString().substring(2);
  let parties, partyNames, partiesToList, counts, issueIDs;

  // hard-coded sprite stuff for issues
  const sprite = {
    i1: 2,
    i5: 1,
    i6: 3, // GBP.
    i7: 2, // NHS
    i8: 1, // gavel
  };

  function prep(initData) {
    // Munge the initData into what we need for presentation.
    console.log(initData);

    // hack
    const hack = {};
    Object.keys(initData.issues).forEach((k) => {
      hack[`i${k}`] = initData.issues[k];
    });
    initData.issues = hack;
    // end hack

    partyNames = Object.keys(initData.parties);
    issueIDs = Object.keys(initData.issues);
    parties = {};
    partyNames.forEach((partyName) => {
      parties[partyName] = {
        name: partyName,
        label: initData.parties[partyName].label,
        open: false,
        mpsToListFirst: [],
        showAllOthers: false,
        otherMps: [],
        issueCounts: {},
      };
      issueIDs.forEach((i) => {
        parties[partyName].issueCounts[i] = 0;
      });
    });

    initData.people.forEach((mp) => {
      let mpHasData = false;
      issueIDs.forEach((i) => {
        if (mp[i]) {
          mpHasData = true;
          if (mp[i].q === "Supports") {
            parties[mp.prty].issueCounts[i]++;
          }
        }
      });
      if (mpHasData) {
        parties[mp.prty].mpsToListFirst.push(mp);
      } else {
        parties[mp.prty].otherMps.push(mp);
      }
    });

    // First put the configured ones up: we always show these, even if they have no MPs matching.
    partiesToList = (inlay.initData.partyPlaceholders || []).slice();
    partyNames.forEach((partyName) => {
      if (
        !partiesToList.includes(partyName) &&
        parties[partyName].mpsToListFirst > 0
      ) {
        partiesToList.push(partyName);
      }
    });
  }
  prep(inlay.initData);

  function mpsToList(party) {
    return party.mpsToListFirst
      .slice()
      .concat(
        party.showAllOthers ? party.otherMps : party.otherMps.slice(0, 5),
      );
  }
</script>

<ul class="imps-party-summary" style="--items: {issueIDs.length}">
  {#each partiesToList as partyName}
    {@const party = parties[partyName]}
    <!-- Loop parties -->
    <li class={partyName}>
      <div class="party-logo-layout"><PartyLogo {party} /></div>
      <ul class="issues-summary">
        <!-- show issues and count of support by members of this party -->
        {#each issueIDs as i}
          <li class="issue">
            <div class="issue-img" style="--sprite:{sprite[i]}">
              <span class="sr-only">{inlay.initData.issues[i]}</span>
            </div>
            <span class="imps-pill">{party.issueCounts[i]}</span>
          </li>
        {/each}
      </ul>
      <!-- show/hide the list of MPs/candidates -->
      <button
        aria-pressed={party.open}
        title="Show People"
        on:click|preventDefault={() => {
          parties[partyName].open = !party.open;
        }}
      >
        <span class="sr-only">Show</span>
        <span aria-hidden>▼</span>
      </button>
      {#if party.open}
        <!-- list MPs/candidates -->
        <div style="max-height: 30vh;overflow-y: scroll;grid-column: 1 / 6;">
          {#each mpsToList(party) as mp}
            <div class="an-mp">
              <div class="mp-name">
                {mp.name}
                <div class="mp-cnst">{mp.cnst}</div>
              </div>
              <ul class="issues-summary">
                {#each issueIDs as i}
                  <li class="issue {(mp[i] && mp[i].q) || 'Unknown'}">
                    <MPSupport
                      name={mp.name}
                      issue={inlay.initData.issues[i]}
                      support={mp[i]}
                    />
                  </li>
                {/each}
              </ul>
            </div>
          {/each}
          {#if party.otherMps.length}
            <button
              aria-pressed={party.showAllOthers}
              on:click|preventDefault={() => {
                parties[partyName].showAllOthers = !party.showAllOthers;
              }}>Show all</button
            >
          {/if}
        </div>
      {/if}
    </li>
  {/each}
</ul>
