<script>
  import { getContext } from "svelte";
  import MPItem from "./MPItem.svelte";
  import PartyLogoConservatives from "./PartyLogoConservatives.svelte";
  import PartyLogoDUP from "./PartyLogoDUP.svelte";
  import PartyLogoGreen from "./PartyLogoGreen.svelte";
  import PartyLogoLabour from "./PartyLogoLabour.svelte";
  import PartyLogoLibDems from "./PartyLogoLibDems.svelte";
  import PartyLogoPlaidCymru from "./PartyLogoPlaidCymru.svelte";
  import PartyLogoSNP from "./PartyLogoSNP.svelte";

  export let party;
  // We bring in the searchQuery because it might be a constituency match.
  export let searchQuery = { domain: "", needle: "" };

  let inlay = getContext("getInlay")();

  let showAllMPs = false;

  // uxMode: allActivities|allActivitiesSitting|allSitting
  $: showMpsList =
    inlay.initData.uxMode.match(/^allActivities/) ||
    searchQuery.domain === "all" ||
    !!searchQuery.needle;

  // $: logoExists = ['conservatives', 'dup', 'green-party', 'labour', 'liberal-democrats', 'plaid-cymru', 'scottish-national-party'].includes(party.logo);
  // $: countHidden = party.mps.length - party.mps.filter(mp => mp.h === 1).length;

  let mps, logo;
  $: {
    mps = party.mps.filter((mp) => mp.show);
    CiviCRMInlay.debug("PartyList", {
      party,
      searchQuery,
      initData: inlay.initData,
      mps,
    });
    logo = null;
    if (party) {
      logo =
        {
          conservatives: { svg: PartyLogoConservatives },
          green_party: { svg: PartyLogoGreen },
          labour: { svg: PartyLogoLabour },
          plaid_cymru: { svg: PartyLogoPlaidCymru },
          liberal_democrats: { svg: PartyLogoLibDems },
          democratic_unionist_party: { svg: PartyLogoDUP },
          scottish_national_party: { svg: PartyLogoSNP },
        }[party.name] || null;
    }
  }
</script>

{#if party}
  <li>
    <div class="party" class:bc-lb1={mps.length} class:bc-g9={mps.length === 0}>
      <h3>
        <div class="logo-layout">
          {#if logo}
            <svelte:component this={logo.svg} />
          {:else}
            {party.label}
          {/if}
        </div>
        <div class="count-layout">
          <span class="count"
            >✔ {party.mps.filter((mp) => mp.show && mp.q === "Supports")
              .length}</span
          >
        </div>
      </h3>
      {#if showMpsList}
        <ul class="mp-list">
          {#each showAllMPs ? mps : mps.slice(0, 7) as mp}
            <MPItem {mp} lcSearchQuery={searchQuery.needle} />
          {/each}
          {#if mps.length > 7}
            <li class="show-all-button">
              <button
                aria-pressed={showAllMPs}
                on:click={() => (showAllMPs = !showAllMPs)}
                >Show all {mps.length}</button
              >
            </li>
          {/if}
        </ul>
      {/if}
    </div>
  </li>
{/if}
