<script>
  // This component uses postcodes.io to return data on postcodes.
  // It dispatches a postcodeEntered event whose .detail contains
  // the full response, which includes of note:
  // - postcode properly formatted
  // - parliamentary_constituency
  // - codes.parliamentary_constituency

  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  export let label = "Postcode";

  let postcode = "",
    postcodeError = "",
    running = false;
  const uniqueID = "postcode" + Math.random().toString().substring(2);

  export function clear() {
    postcode = "";
    postcodeError = "";
    running = false;
  }

  function runLookup() {
    const simpler = postcode.toLowerCase().replace(/[^a-z0-9]+/g, "");
    if (!simpler.match(/^[a-z0-9]{4,10}$/)) {
      postcodeError = "Your postcode does not look right.";
      return;
    }
    running = true;
    fetch("https://postcodes.io/postcodes/" + simpler)
      .then((response) => response.json())
      .then((data) => {
        console.debug("got postcodes.io response", data);
        if (data.result && data.result.postcode && data.status == 200) {
          dispatch("postcodeEntered", data.result);
          // Replace user-entered with correctly formatted version.
          postcode = data.result.postcode;
        } else {
          throw "Unrecognised response";
        }
      })
      .catch((e) => {
        console.error({ error: "postcodes.io API fail", response: e });
        postcodeError =
          "Sorry, there was an error fetching information about your postcode. Please check it is entered correctly.";
      })
      .finally(() => {
        running = false;
      });
  }
</script>

<label for={uniqueID}>{label}</label>
<slot name="beforeInput" />
<input
  id={uniqueID}
  type="text"
  bind:value={postcode}
  on:keydown={(e) => e.key === "Enter" && runLookup()}
  on:input={() => {
    postcodeError = "";
  }}
  disabled={running}
/>
{#if postcodeError}<span class="postcode-error">{postcodeError}</span>{/if}
{#if running}<span class="postcode-running">Just a mo...</span>{/if}
