// Form
// General container
$woiBlue: #1f4f91;

.inlay-mpsupport {

  .constituency {
    display: block;
    font-size: 0.875rem;
  }

  .postcode-error {
    font-size: 0.875rem;
    color: #701;
  }

  .postcode-running {
    font-size: 0.875rem;
    color: #888;
  }

  // ul
  .mp-list {
    list-style: none;
    margin: 0 -1rem;

    li {
      margin: 0;
      border-top: solid 1px white;

      display: grid;
      padding: 0.5rem;
      grid-template-columns: 1.5em 1fr;

      .constituency {
        grid-column: 2;
      }

      &.show-all-button {
        display: block;

        button[aria-pressed=true] {
          box-shadow: 3px 3px 8px inset rgba(0, 0, 0, 0.5);
        }
      }
    }

    .statement {
      grid-column: 2;
      font-size: 0.875rem;
      font-style: italic;
      cursor: pointer;
      white-space: pre-line;
      transition: 0.3s opacity;

      &.closed {
        opacity: 0.7;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .support-symbol {

    // &.Supports { background-color: #a7eb9c; }
    // &.Unconvinced { background-color: #e6cdbe; }
    // &.Opposed { background-color: #e4b0b0; }
    &.Supports {
      color: #2bb814;
    }

    // &.Unconvinced { color: #e6cdbe; } // emoji
    &.Opposed {
      color: #b81414;
    }
  }
}

// form
.imps-search {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: clamp(0.5em, 2vw, 4em);
  background-color: #eee;
  margin: 0 auto 2rem;
  max-width: 100ch;

  &>* {
    flex: 1 0 18ch;
    position: relative;
  }

  p:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
  }


  .icon-search {
    position: absolute;
    margin-top: 0.4rem;
    left: 0.5rem;
    fill: #1f4f91;
  }

  input {
    border: solid 1px #d8d8d8;
    border-radius: 3px;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.imps-search-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 2em;

  a {
    display: inline-block;
  }
}

// Invisible flex wrapper
.imps-partylist {
  padding: 0;
  margin: 1rem -1rem;
  display: flex;
  flex-wrap: wrap;

  // Invisible flex item wrapper
  &>li {
    flex: 0 0 24rem;
    list-style: none;
    margin: 0 0 1rem;
    padding: 0 1rem;
  }

  // Visible block
  .party {
    height: 100%;
    padding: 1rem 1rem 0;

    h3 {
      margin: 0 0 1rem;
      font-size: 1rem;
      display: grid;
      grid-template-columns: 1fr auto;
      justify-items: left;
      align-items: center;
      height: 2.1rem;

      &>.logo-layout {
        svg {
          max-height: 2rem;
        }
      }

      &>.count-layout {
        flex: 0 0 auto;
        padding-left: 1rem;
      }

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .count {
    border-radius: 1rem;
    // background: #1f4f91;
    background: #a7eb9c;
    color: #222;
    padding: 0 0.5rem;
  }
}

.imps-constituency-group {

  // This is the list of candidates in a constituency.
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
  }

  li {
    flex: 0 1 48ch;
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 0.5em;

    border-radius: 2px;
    background-color: #eee;
    padding: 1em;

    &.Opposed {
      background-color: #ecd8d8;
    }

    &.Supports {
      background-color: #e2eee2;
    }

    &.Unconvinced {
      background-color: #d8e5ec;
    }

    &>.support-symbol {
      text-align: center;
    }

    &>.name {}

    &>.logo-layout {
      grid-column: 2;

      svg {
        height: 1em;
        width: auto;
        max-width: 8em;
      }
    }
  }

  .statement {
    grid-column: 2;
    font-style: italic;
  }
}

.imps-party-summary {

  &,
  * {
    box-sizing: border-box;
  }

  margin: 2rem 0;
  padding:0;
  list-style: none;
  --items: 1;

  // down arrow button to show MPs.
  button {
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }

  // Layout for each party
  &>li {
    margin: 0 0 3rem;
    display: grid;
    grid-template-columns: minmax(10ch, 20ch) repeat(var(--items), 64px) 8ch;
    gap: 0.5em 1em;
  }

  // Contain the SVG party logo
  .party-logo-layout {
    place-self: center start; // vertically centered, left aligned.
    max-width: 20ch;
    // if no logo, there's text
    font-weight: bold;
    font-size: 1.2rem;
    color: $woiBlue;

    svg {
      max-width: 100%;
      height: 100%;
    }
  }

  // List of Issues
  ul.issues-summary {
    grid-column: 2 / calc(var(--items) + 2);
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
    list-style: none;
    // overflow: hidden;
  }

  li.issue {
    flex: 0 0 64px;
    // overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 0.5em 0.5em 0 0;
  }

  .imps-pill {
    border-radius: 0 0 0.5em 0.5em;
    padding: 0 0.5em;
    background-color: #e2eee2;
    color: #0b650b;
    display: block;
    font-weight: bold;
  }

  .an-mp {
    grid-column: 1 / calc(var(--items) + 2);
    display: grid;
    grid-template-columns: minmax(10ch, 20ch) repeat(var(--items), 64px);
    gap: 1em;

    .mp-name {
      max-width: 20ch;
    }

    .mp-cnst {
      font-size: 0.825em;
      color: $woiBlue;
    }

    li.issue {
      border-radius: 0;

      &.Supports {
        background-color: #e2eee2;
      }

      // Don't colour these ones so we really highight the supports.
      // &.Opposed { background-color: #ecd8d8; }
      &.Opposed button {
        color: #b81414;
      }

      // &.Unconvinced { background-color: #d8e5ec; }
    }

    div.support {
      position: relative;
      height: 100%;

      button {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }

    .popup {
      height: 0;
      opacity: 0;
      position: absolute;
      right: 50%;
      top: 50%;
      width: clamp(20ch, 50vw, 30ch);
      color: #edf4ff;
      background: #1f4f91;
      text-align: left;
      padding: 0.5em;
      border-radius: 0.5em 0 0.5em 0.5em;
      font-size: 0.825rem;
      z-index: 1;
      transform: translateY(1em);
      transition: 0.4s opacity, 0.4s transform, 0s 0.4s height;
      pointer-events: none;

      &.open {
        height: auto;
        transition: 0.4s opacity, 0s 0.4s height, 0.4s transform;
        pointer-events: all;
        opacity: 1;
        transform: none;
      }
    }

    .modal-cover {
      position: fixed;
      opacity: 0;
      width: 100%;
      height: 0;
      left: 0;
      top: 0;
      transition: 0.3s opacity;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 1;

      &.open {
        height: 100%;
        opacity: 1;
      }
    }

  }

  .issue-img {
    width: 64px;
    height: 64px;
    background: url(https://weownit.org.uk/sites/all/themes/woi18/images/imps-sprite.svg);
    background-position-x: calc(var(--sprite, 0) * -64px + 64px);
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  button[aria-pressed=true] {
    box-shadow: 3px 3px 8px inset rgba(0, 0, 0, 0.5);
  }

}

@media screen and (max-width: 599px) {
  .imps-party-summary {

    // Layout for each party
    &>li {
      grid-template-columns: repeat(var(--items), 64px) 3ch;
      gap: 0.5em 1em;
      margin: 0 0 2rem;
    }

    .party-logo-layout {
      // full width
      grid-column: 1 / calc(var(--items) + 2);
    }

    ul.issues-summary {
      grid-column: 1 / calc(var(--items) + 1);
    }

    .an-mp {
      // full width
      grid-column: 1 / calc(var(--items) + 2);
      // inner grid
      grid-template-columns: repeat(var(--items), 64px);

      .mp-name {
        max-width: unset;
        grid-column: 1 / calc(var(--items) + 2);
      }
    }
  }
}
